
/*TabPane itself*/
.tab-pane > .tab-header-area > .headers-region > .tab:top {
   
    -fx-background-color: #36373f;
	-fx-border-radius: 5 5 0 0;
	-fx-border-color: #36373f;
}

.tab-pane > .tab-header-area > .tab-header-background{
	-fx-background-color: #36373f;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
	-fx-border-radius: 5 5 0 0;
	-fx-border-color:#36373f;
	-fx-background-color: #36373f;
	
}
/*unselected tab*/
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
	-fx-border-color: #36373f;
	-fx-alignment: CENTER;
    -fx-text-fill: white;
}
/*selected tab */
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
	-fx-border-color: #36373f;
	-fx-alignment: CENTER;
    -fx-text-fill: white;
}